<section id="footer">
  <div class="container">
   
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>About XL Technology</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-rss"></i></a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-6">
        <h3>Say Hello</h3>
        <ul class="list-unstyled">
          <li><p><strong><i class="fa fa-map-marker"></i>Address:</strong> Location, Street, Code</p></li>
          <li><p><strong><i class="fa fa-envelope"></i>Email:</strong> <a href="">info@example.com</a></p></li>
          <li><p><strong><i class="fa fa-phone"></i>Number:</strong> +673 12345678</p></li>
        </ul>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <p>&copy; 2017 Designed by ZT3K</p>
      </div>
    </div>
  </div>
</section>