<section id ="who" class="bg-faded">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h2>Who are we...</h2>
        <hr align="left" width="50%">
        <p class="lead">La croix yr cold-pressed, mumblecore vaporware migas edison bulb raw denim photo booth.</p>
        <br>
        <p>La croix yr cold-pressed, mumblecore vaporware migas edison bulb raw denim photo booth.La croix yr cold-pressed, mumblecore vaporware migas edison bulb raw denim photo booth.</p>
        <button type="submit" class="btn btn-danger btn-block">Learn More</button>
      </div>
      
      <div class="col-md-6">
        <a class="navbar-brand" href="#">
          <%= link_to image_tag("what-image.png", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
        </a>  
      </div>

    </div>
  </div>
</section>