<section id="why" class="bg-faded">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col offset-md-3 text-center">
        <h2>Why work with us...</h2>
        <hr align="center" width="50%">
        <p>Because we are the best at what we do</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 text-center">
        <div class="text-center">
          <a href="#why"><i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="text-center">
          <h4 style="font-weight:bold">Customer Satisfaction</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="text-center">
          <a href="#why"><i class="fa fa-line-chart fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="text-center">
          <h2>Instant Results</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        </div>
      </div>
      
      <div class="col-md-4 text-center">
        <div class="text-center">
          <a href="#why"><i class="fa fa-trophy fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="text-center">
          <h2>Award Winning Service</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        </div>
      </div>

    </div>

  </div>
</section>